{% extends 'base.html' %}
{% block title %}
   Profile
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- <div class="col-3"> -->
        <table class="table table-hover table-secondary table-striped text-center">
            <thead>
               <tr>
                  <!-- Your Columns HERE -->
                  <th scope="col">Class</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                  
                  <!-- only viewed by admin -->
                  {% if current_user.is_authenticated and current_user.username=='Admin' %}
                  <th scope="col">Status Update</th>
                  {% endif %}
               </tr>
            </thead>
            <tbody>
               {% for class in classes %}
               <tr>
                  <td>{{ class.name}}</td>
                  <td>{{ class.location }}</td>
                    
                  <!-- compare for availability -->
                  {% if class.color == "red" %}
                  <td id="td{{ loop.index }}" style="background-color: rgb(239, 67, 67); font-weight: bold;"> {{ class.class_status }} </td>
                  {% else %}
                  <td id="td{{ loop.index }}" style="background-color: green; font-weight: bold;"> {{ class.class_status }} </td>
                  {% endif %}
                  
                  <!-- to update status -->
                  {% if current_user.is_authenticated and current_user.username=='Admin' %}
                  <form method="POST" class="" action="/availability_update" style="color:white">
                    <input name="id" type="hidden" value="{{class.id}}">    
                    <td><input name="upd" type="submit" value="Update status" class="btn-lg" style="background-color: rgb(88, 89, 25); color: #ffffffff;"></td>      
                  </form>
                  {% endif %}

               </tr>
               {% endfor %}
            </tbody>
         </table>

    <!-- </div> -->


        {% if current_user.is_authenticated and current_user.username=='Admin' %}
            <!-- write code to add class -->
            <form method="POST" class="menu-form" action="/classes" class="" style="color:white">
                {{ cform.hidden_tag() }}
                <br>
                {{ cform.name(class="form-control w-auto mx-auto", placeholder="Class") }}
                <br>
                {{ cform.location(class="form-control w-auto mx-auto", placeholder="Location") }}
                <br>
                {{ cform.add_class(class="btn btn-lg btn-block btn-success w-auto mx-auto") }} 
            </form>
        {% endif %}
    </div>




{% endblock %}